* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Paaji 2', sans-serif;
}

body {
    background-color: #f0f0f0;
}

.container {
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #F2F9FF;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
    gap: 20px;
}

.title {
    color: #0000FF;
    font-size: 5vw;
    font-weight: 700;
}

.highlight {
    color: red;
}

.menu-bar {
    position: relative;
}

.menu-icon {
    padding: 5px;
    cursor: pointer;
}

.menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px;
    background-color: black;
}

.menu-items {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.menu-bar:hover .menu-items {
    display: block;
}

.menu-items a {
    display: block;
    margin: 5px 0;
    color: black;
    text-decoration: none;
    padding: 5px;
}

/* 포인트 섹션 스타일 */
.point-section {
    margin-top: 50px;
    position: relative;
}

/* 불꽃 이미지 */
.firework-image {
    width: 350px;
    height: auto;
    position: relative;
    top: -50px; /* 이미지를 더 위로 올림 */
    left: 50%;
    transform: translateX(-50%);
}

/* 코인 이미지 */
.coin-image {
    position: absolute; /* 불꽃 이미지 중앙에 코인을 배치 */
    margin-top: -80%;
    left: 50%; /* 중앙 정렬 */
    
    width: 200px;
    height: auto;
    animation: spin 3s infinite linear; /* 회전 애니메이션 */
}

/* 회전 애니메이션 */
@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotateY(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateY(360deg);
    }
}

h2 {
    font-size: 30px;
    margin-top: -100px;
    color: #0036FF;
}

.points-text {
    font-size: 28px;
    color: #0036FF;
    margin-top: -5px;
    font-weight: bold;
}
