* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Paaji 2', sans-serif;
}

body {
    background-color: #f0f0f0; /* 전체 배경: 연한 회색 */
}

.container {
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #F2F9FF;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    height: auto;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
    position: relative;
}

.title {
    color: #0000FF;
    font-size: 5vw; /* 반응형 글자 크기 */
    font-weight: 700;
}

.highlight {
    text-align: center;
    color: red; /* YOUTH의 색상을 빨간색으로 설정 */
}

.menu-bar {
    position: relative;
}

.menu-icon {
    padding: 5px;
    cursor: pointer;
}

.menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px;
    background-color: black;
}

.menu-items {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.menu-bar:hover .menu-items {
    display: block;
}

.menu-items a {
    display: block;
    margin: 5px 0;
    color: black;
    text-decoration: none;
    padding: 5px;
}

.map-options {
    margin-top: 20px;
}

.option {
    margin: 20px 0;
}

.option a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.option a:hover h2 {
    color: #007bff; /* 텍스트 색상 변경 */
    font-weight: bold; /* 강조 */
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.option img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.option img:hover {
    transform: scale(1.05); /* 마우스 호버 시 이미지 확대 */
    transition: transform 0.3s ease;
}

.option h2 {
    font-size: 20px;
    font-weight: normal;
    color: #000000;
}

/* 도움말 버튼 */
/* 도움말 버튼 (이미지로만 표시) */
.help-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;  /* 이미지 버튼의 너비 */
    height: 50px; /* 이미지 버튼의 높이 */
    z-index: 1000; /* 버튼이 다른 요소들 위에 나타나도록 설정 */
}

.help-button img {
    width: 100%;  /* 버튼 크기에 맞춰 이미지 크기 조정 */
    height: 100%; /* 버튼 크기에 맞춰 이미지 크기 조정 */
}
