* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0; /* 전체 배경: 연한 회색 */
}

.container {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #F2F9FF; /* 컨테이너 배경: 연한 하늘색 */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 박스 그림자: 흐린 검정색 */
    margin-top: 50px;
}

.logo img {
    width: 150px;
}

.welcome-text h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.welcome-text p {
    color: #666; /* 텍스트 색상: 중간 정도의 회색 */
    margin-bottom: 20px;
}

.sign-in-form,
.sign-up-form {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #333; /* 입력 필드 라벨: 짙은 회색 */
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc; /* 입력 필드 테두리: 연한 회색 */
    border-radius: 5px;
}

.sign-in-button,
.sign-up-button {
    width: 100%;
    padding: 12px;
    background-color: #007bff; /* 버튼 배경: 파란색*/
    color: white; /* 버튼 텍스트: 흰색 */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.sign-in-button:hover,
.sign-up-button:hover {
    background-color: #0056b3; /* 버튼 호버 시: 더 진한 파란색 */
}

.sign-up-text p {
    font-size: 14px;
}

.sign-up-text a {
    color: #007bff; /* 링크 텍스트: 파란색 */
    text-decoration: none;
}

.sign-up-text a:hover {
    text-decoration: underline; /* 링크 호버 시: 밑줄을 추가 */
}
